<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.movieapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Nameless"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HorrorDescriptionActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActionActivity" />
        <activity android:name=".Description" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ThrillerActivity" />
        <activity android:name=".DescriptionThriller" />
        <activity android:name=".ComedyActivity" />
        <activity android:name=".ComedyDescription" />
        <activity android:name=".DramaActivity" />
        <activity android:name=".DramaDescription" />
        <activity android:name=".SciFiActivity" />
        <activity android:name=".SciFiDescription" />
        <activity android:name=".HorrorActivity" />
    </application>

</manifest>